# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


./backend/title_id_map.csv
